<h1>Editing Student #<%= @student.id %></h1>

<%= form_tag(student_url(@student), method: 'patch') do %>
  <div>
    <%= label_tag :first_name %><br />
    <%= text_field_tag :first_name, @student.first_name %>
  </div>

  <div>
    <%= label_tag :last_name %><br />
    <%= text_field_tag :last_name, @student.last_name %>
  </div>

  <div>
    <%= label_tag :address %><br />
    <%= text_field_tag :address, @student.address %>
  </div>

  <div>
    <%= label_tag :image %><br />
    <%= text_field_tag :image, @student.image %>
  </div>

  <div>
    <%= label_tag :nu_email %><br />
    <%= text_field_tag :nu_email, @student.nu_email %>
  </div>

  <div>
    <%= label_tag :cell_phone %><br />
    <%= text_field_tag :cell_phone, @student.cell_phone %>
  </div>

  <div>
    <%= label_tag :student_id %><br />
    <%= text_field_tag :student_id, @student.student_id %>
  </div>

  <div>
    <%= submit_tag "Update Student" %>
  </div>
<% end %>
