<h1>New Student</h1>

<%= form_tag(students_url, method: 'post') do %>
  <div>
    <%= label_tag :first_name %><br />
    <%= text_field_tag :first_name %>
  </div>

  <div>
    <%= label_tag :last_name %><br />
    <%= text_field_tag :last_name %>
  </div>

  <div>
    <%= label_tag :address %><br />
    <%= text_field_tag :address %>
  </div>

  <div>
    <%= label_tag :image %><br />
    <%= text_field_tag :image %>
  </div>

  <div>
    <%= label_tag :nu_email %><br />
    <%= text_field_tag :nu_email %>
  </div>

  <div>
    <%= label_tag :cell_phone %><br />
    <%= text_field_tag :cell_phone %>
  </div>

  <div>
    <%= label_tag :student_id %><br />
    <%= text_field_tag :student_id %>
  </div>

  <div>
    <%= submit_tag "Create Student" %>
  </div>
<% end %>
