<h1>Task havers</h1>

<p><%= link_to 'Add a New Task Haver', new_task_haver_url %></p>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>Image</th>
      <th>Email</th>
      <th>Cell phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @task_havers.each do |task_haver| %>
    <tr>
      <td><%= task_haver.first_name %></td>
      <td><%= task_haver.last_name %></td>
      <td><%= task_haver.address %></td>
      <td><%= task_haver.image %></td>
      <td><%= task_haver.email %></td>
      <td><%= task_haver.cell_phone %></td>
      <td><%= link_to 'Show', task_haver_url(task_haver) %></td>
      <td><%= link_to 'Edit', edit_task_haver_url(task_haver) %></td>
      <td><%= link_to 'Destroy', task_haver_url(task_haver), method: 'delete', data: { confirm: "Do you really want to delete this task_haver?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

