<h1>Task Haver #<%= @task_haver.id %></h1>

<dl>
  <dt>First name</dt>
  <dd><%= @task_haver.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @task_haver.last_name %></dd>

  <dt>Address</dt>
  <dd><%= @task_haver.address %></dd>

  <dt>Image</dt>
  <dd><%= @task_haver.image %></dd>

  <dt>Email</dt>
  <dd><%= @task_haver.email %></dd>

  <dt>Cell phone</dt>
  <dd><%= @task_haver.cell_phone %></dd>

</dl>
